#sbb_sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sbb_sortable li {
	padding-top: 0.4em;
	padding-left: 1.5em;
	font-size: 1em;
	height: 36px;
	margin-bottom: 5px;
}

#sbb_sortable li span {
	position: absolute;
	margin-left: -1.3em;
	margin-top: 0.2em
}

#sbb_sortable input[type='text'] {
	display: inline-block;
	box-sizing: inherit;
	width: 200px;
	height: 1.4rem;
	padding: 0.0rem;
	float: right;
	margin-right: 15px;
	padding-left: 10px;
}
